doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/performance.css')
  body
    div.result
    div.content
      button#lastmodify 获取LastModify
      button#getUA 获取UserAgent

script(src='./javascripts/bower_components/zepto/zepto.min.js')
script(src='./javascripts/performance.js')
